body {
    font-family: 'Sansation', monospace;
  }

  @font-face {
    font-family: Sansation;
    src: url(SansationMonoNumbers2.ttf);
  }

  #app {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      display: inline-block;
      text-align:center;
      white-space: nowrap;
  }

  .timer {
    margin: 0;
  }