body {
    font-family: 'Courier New', monospace;
  }

  #app {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      display: inline-block;
      text-align:center;
      white-space: nowrap;
  }

  .timer {
    margin: 0;
  }